@import url('https://fonts.googleapis.com/css?family=Bitter');


$color-brownish: #f0d7a7;
$color-moreBrown: #c37960;
$color-chill: #894e3f;
$color-chillii: #eee1ba;
$color-yolo: #9c634f;

button,
h1,
input,
label,
p,
span {
    font-family: 'Bitter', serif;
    font-weight: bold;
    text-align: center;
}

label {
    font-size: 18px;
}

input {
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: $color-brownish;

    section {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        border: 20px solid $color-chill;
        background-color: rgba(137,78,63,0.5);

        h1 {
            font-weight: bold;
            font-size: 200%;
            margin-bottom: 60px;
            text-decoration: underline;
            text-transform: uppercase;
        }

        .input_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            width: 100%;



            div {
            }

            input {
                margin: 0 auto;
                transition: 0.4s;
                font-size: 18px;
                border: none;
                max-width: 100%;
                padding: 10px;
                margin: 0 20px 20px;

                &:hover {
                    border-left: 5px solid $color-moreBrown;
                }

                &:focus {
                    transform: scale(1.01);
                }
                &::placeholder {
                    font-family: 'Bitter', serif;

                }
            }

            .rating {
                padding: 20px;
            }
        }

        .sendButton {
            width: 50%;
            margin: 0 auto;
            padding: 10px;
            border-radius: 20px;

            &:hover {
                background: $color-brownish;
                box-sizing: 6px 6px $color-moreBrown;
            }
        }

        button {
            font-size: 20px;
            transition: 0.4s;
            cursor: pointer;
            background-color: $color-chillii;
        }

        ul {
            margin-top: 20px;
            padding: 20px;
            color: black;
            border: 20px solid $color-yolo;
            background-color: $color-chill;
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            flex-wrap: wrap;
            text-decoration: underline;

            li {
                font-size: 18px;
                padding: 10px;
                animation: fade 0.4s linear;
                @keyframes fade {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                input {
                    font-size: 18px;
                    width: 100%;
                    margin: 8px;
                    border: 1px solid $color-brownish;
                    background-color: $color-chillii;
                }

                div {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: nowrap;

                    span {
                        flex: 1;
                        margin-left: 20px;
                    }
                }

                .buttonList {
                    margin-left: auto;
                    flex: 1;
                    margin-left: 10px;
                    padding: 10px;
                    border-radius: 20px;

                    &:hover {
                        background: $color-brownish;
                        box-sizing: 6px 6px $color-moreBrown;
                    }
                }
            }
        }
    }
}
