$color-brownish: #f0d7a7;
$color-moreBrown: #c37960;
$color-chill: #894e3f;
$color-chillii: #eee1ba;
$color-yolo: #9c634f;

.loader {
    margin: 120px auto 0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border-top: 20px solid $color-yolo;
    border-bottom: 20px solid $color-yolo;
    border-right: 20px solid $color-chill;
    border-left: 20px solid $color-chillii;
    animation: loader 10s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.oneTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: oneTime 10s linear infinite;
    border-top: 20px solid $color-yolo;
    border-bottom: 20px solid $color-yolo;
    border-right: 20px solid $color-chill;
    border-left: 20px solid $color-chillii;
}
@keyframes oneTime {
    0% {
        opacity: 0;
        transform: rotateX(10deg);
    }

    100% {
        opacity: 1;
        transform:rotate(180deg);
    }
}
